
.DS_Store

FlipSketch.xcodeproj/project.xcworkspace/xcuserdata/hozuko.xcuserdatad/UserInterfaceState.xcuserstate

FlipSketch.xcodeproj/xcuserdata/hozuko.xcuserdatad/xcschemes/xcschememanagement.plist

FlipSketch.xcodeproj/xcuserdata/hozuko.xcuserdatad/xcschemes/FlipSketch.xcscheme

FlipSketch.xcodeproj/project.xcworkspace/xcuserdata/kevoham.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcbkptlist

FlipSketch.xcodeproj/xcuserdata/hozuko.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
